.us {  }

.us thead { background: #dff0d8; font-size:12px; }

.us thead th { font-weight: normal; }
.us tbody tr { background: #fff !important; }


.us .us-avatar { width: 15%; text-align: center; }
.us .us-avatar img { width: 32px; height: 32px; text-align: center; }
.us .us-login { width: 25%; text-align: center; vertical-align: middle; }
.us .us-group { width: 30%; text-align: center; vertical-align: middle; }
.us .us-female { width: 30%; text-align: center; vertical-align: middle; }

.us-content { clear: both; }

.us-copyright { display: block; width: 54px; height: 55px; background: url("../img/copyright_icon.png") no-repeat; float: right; }